<h1>Discover our conglomerates!</h1>

<table>
    <tr>
        <th>Name</th>
    </tr>

    <% @conglomerates.each do |conglomerate| %>
        <tr>
            <td><%= conglomerate.name %></td>
            <td><%= link_to 'See all companies', conglomerate_path(conglomerate) %></td>
        </tr>
    <% end %>
</table>
